<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EventStore.Client" version="4.1.0" targetFramework="net471" />
  <package id="EventStore.Client.Embedded" version="4.1.0" targetFramework="net471" />
  <package id="Microsoft.CodeCoverage" version="1.0.3" targetFramework="net471" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="net471" />
  <package id="Microsoft.NET.Test.Sdk" version="15.5.0" targetFramework="net471" />
  <package id="Microsoft.Reactive.Testing" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.TestPlatform.TestHost" version="15.5.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="ReactiveDomain.Core" version="0.8.17" targetFramework="net471" />
  <package id="ReactiveDomain.Foundation" version="0.8.17" targetFramework="net471" />
  <package id="ReactiveDomain.Messaging" version="0.8.17" targetFramework="net471" />
  <package id="ReactiveDomain.Persistence" version="0.8.17" targetFramework="net471" />
  <package id="ReactiveDomain.Testing" version="0.8.17" targetFramework="net471" />
  <package id="ReactiveUI" version="8.3.1" targetFramework="net471" />
  <package id="ReactiveUI.Testing" version="8.3.1" targetFramework="net471" />
  <package id="ReactiveUI.WPF" version="8.3.1" targetFramework="net471" />
  <package id="Splat" version="4.0.0" targetFramework="net471" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.Reactive" version="4.1.0-preview.84" targetFramework="net471" />
  <package id="System.Reactive.Core" version="4.0.0" targetFramework="net471" />
  <package id="System.Reactive.Interfaces" version="4.0.0" targetFramework="net471" />
  <package id="System.Reactive.Linq" version="4.0.0" targetFramework="net471" />
  <package id="System.Reactive.PlatformServices" version="4.0.0" targetFramework="net471" />
  <package id="System.Reactive.Windows.Threading" version="4.0.0" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net471" />
  <package id="xunit" version="2.4.0" targetFramework="net471" />
  <package id="xunit.abstractions" version="2.0.2" targetFramework="net471" />
  <package id="xunit.analyzers" version="0.10.0" targetFramework="net471" />
  <package id="xunit.assert" version="2.4.0" targetFramework="net471" />
  <package id="xunit.core" version="2.4.0" targetFramework="net471" />
  <package id="xunit.extensibility.core" version="2.4.0" targetFramework="net471" />
  <package id="xunit.extensibility.execution" version="2.4.0" targetFramework="net471" />
  <package id="xunit.runner.console" version="2.3.1" targetFramework="net471" developmentDependency="true" />
  <package id="xunit.runner.visualstudio" version="2.4.0" targetFramework="net471" developmentDependency="true" />
</packages>